/* .MainDash{
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
} */

.card-container{
    margin:left;
    height: 200px;
    display:flex;
    justify-content:centre;
    align-items:centre;
    overflow:hidden;
    width:200px;
    box-shadow:0px 0px 15px -5px;
    transition:0.5s;
    animation:ease-in-out;
    background:rgb(243, 245, 247);
}
.card-container:hover{
transform: scale(1.6);
box-shadow:0px 0px 15px 0px;
}
.image-container img{
    overflow:hidden;
    height:200px;

}

    